<div class="master_layout flex h-[100vh] w-[100vw] bg-red-900 text-white">
    <div class="asidebar">
        <aside class="w-[20vw] h-[100vh] bg-cyan-900">
                <div class="logo h-[10%] w-100 bg-gray-900">
                    SearchNserve
                </div>
                <div class="side_nav h-[90%] bg-yellow-900 text-white">
                    ul
                </div>


        </aside>
    </div>
    <div class="main_content w-[80vw] h-[100vh]">
        <div class="navbar h-[10%] bg-gray-500">
        Navbar
        </div>
        <div class="main_content h-[90%] bg-indigo-900">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>